@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
img{
  float:right;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-style:ridge;
  border-color:#c2185b;
  border-width: 15px;
}
.mat-card {
  width: 40%;
  float: left; 
}

mat-form-field,
textarea {
  width: 100%;
  color:white;
}
:-moz-placeholder{
  color: white;
}
::placeholder{
  color:white;
}
