<body>
  <figure>
    <img src="../images/School2.jpg">
  </figure>
<mat-card>
<mat-card-title>
School Database Information
</mat-card-title>
<mat-card-content>
  <p>
    Welcome to the about page. This page is used to tell you all about our schools database system.
  </p>

  <p>
    The app has a database which contains a students collection and a teachers collection. You can create a student or teacher,
    update their details and even delete them. A list of students or teachers already in the database can be viewed by clicking
    on the view students or view teachers buttons on the navbar at the top of the page. When you create a student/teacher
    their details will be instantly inserted into their appropriate table.
  </p>
</mat-card-content>
</mat-card>
</body>