@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


mat-form-field,
textarea {
  width: 100%;
  color:white;
}
:-moz-placeholder{
  color: white;
}
::placeholder{
  color:white;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(255, 255, 255);
}